body {
    color: #969696;
    text-align: center;
}

h2 {
    color: #2C3E50;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: left;
}

#about {
    background-color: darkgoldenrod;
    color: black;
    text-align: center;
}